*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red-soon: #b390eb;
    --black-background: #101011;
    --gray-menu-font: #AAA;
    --white-start-font: #B390EB;
    --other-links-passMouse: #FFFFFF;
}

/* FONTE FAMILY

font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif

*/

body{
    background: var(--black-background);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left:10px;
    margin-top: 9px;

    color: var(--red-soon);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: var(--gray-menu-font);

    margin: 10px;
    margin-right: 15px;
}

header nav .start{
    color: var(--white-start-font);
    font-weight: bold;
}

header nav .other-links:hover{
    color: var(--other-links-passMouse);
}

/* main movie */

.main-move{
    font-size: 16px;
    background: url('/img/capa3.jpg');

    height: 530px; 
    width: auto; 
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-move .description{
    margin-top: 10px;
    margin-bottom: 40px;
}

.title{
    margin-top: 15px;

    font-size: 40px;
}

.button{
    background-color: rgba(0, 0, 0, .50);

    border: none;
    color: white;

    margin-right: 15px;
    padding: 15px 30px;
    border-radius: 5%;

    font-size: 12px;    

    cursor: pointer;
    transition: .3s ease all;  
}

.button:hover{
    background-color: white;
    color: black;
}

.button i{
    margin-right: 8px;
}

.main-move .container{
    width: 70%;

    margin-left: 45px;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carousel-movie{
    margin-top: 5px;
}